exportClasses(NCBIClass)
exportClasses(NCBIResult)
exportClasses(NCBIRequest)
exportClasses(EInfoClass)
exportClasses(EGQueryClass)
exportClasses(EFetchClass)
exportClasses(ESummaryClass)
exportClasses(ESpellClass)
exportClasses(ESearchClass)
exportClasses(EPostClass)
exportClasses(ELinkClass)
exportMethods(.requestEFetchMethod)
exportMethods(.getEFetchResults)
exportMethods(.requestEGQueryMethod)
exportMethods(.getEGQueryResults)
exportMethods(.requestEInfoMethod)
exportMethods(.getEInfoResults)
exportMethods(.requestELinkMethod)
exportMethods(.getELinkResults)
exportMethods(.requestEPostMethod)
exportMethods(.getEPostResults)
exportMethods(.requestESearchMethod)
exportMethods(.getESearchResults)
exportMethods(.requestESpellMethod)
exportMethods(.getESpellResults)
exportMethods(.requestESummaryMethod)
exportMethods(.getESummaryResults)
export(NCBI)
export(EInfo)
export(ESearch)
export(EGQuery)
export(ELink)
export(EPost)
export(ESpell)
export(ESummary)
export(EFetch)
export(requestEInfo)
export(requestESearch)
export(requestEGQuery)
export(requestELink)
export(requestEPost)
export(requestESpell)
export(requestESummary)
export(requestEFetch)
exportMethods(setProxyUser)
exportMethods(getOperations)
exportMethods(getEFetchDatabases)
exportMethods(getRequestParameter)
exportMethods(getLastResultParameter)
exportMethods(getResultParameterByName)
exportMethods(.parseRequest)
exportMethods(setRequestParameter)
exportMethods(getResults)
exportMethods(.recursiveFunction)
exportMethods(.getComplexType)
exportMethods(.getSimpleType)
import(XML)
import(rJava)
